#autoconf
*.cache

#vim
*.swp
*.swo

#objects
*.o
*.lo

#libatx
*.pem

#cscope
/cscope.files
/cscope.out

#latex
doc/build

#cmake
build
target

#node
node_modules

nohup.out

*.bin
*.ycm_extra_conf.pyc

external/*
include/uzmtp/uzmtp_platform.h

compile_commands.json
